{% extends 'base.html.twig' %}

{% block title %}Liste des Factures{% endblock %}

{% block body %}
    <h1>Liste des Factures</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Informations</th>
                <th>Client</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.id }}</td>
                    <td>{{ invoice.terms }}</td>
                    <td>{{ invoice.getPaymentLastname }} {{ invoice.getPaymentFirstname }}</td>
                    <td>
                        {% if invoice.getQuote() is not null %}
                        <a href="{{ path('app_pdf', {'id': invoice.getQuote().id, "facture":1}) }}" class="btn btn-primary download-pdf-btn" data-status="{{ invoice.getQuote().status }}">Télécharger la Facture</a>
                        {% endif %}
                    </td>
                    {#  
                    <td>
                        <a href="{{ path('invoice_show', {'id': invoice.id}) }}">Voir</a>
                        <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">Modifier</a>
                    </td>
                     #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
