{% extends 'base.html.twig' %}

{% block title %}Liste des devis{% endblock %}

{% block body %}
    <h1>Liste des devis</h1>

    <table>
        <thead>
            <tr>
                <th>Numéro de devis</th>
                <th>Informations</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for quotation in quotations %}
                <tr>
                    <td>{{ quotation.ref }}</td>
                    <td>{{ quotation.terms }}</td>
                    <td>{{ quotation.status }}</td>
                    <td>
                        <a href="{{ path('quotation_view', {'id': quotation.id}) }}" class="btn btn-primary">Voir</a><br>
                        <a href="{{ path('quotation_edit', {'id': quotation.id}) }}" class="btn btn-primary">Éditer</a>
                        <form action="{{ path('quotation_delete', {'id': quotation.id}) }}" method="post">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quotation.id) }}">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce devis ?')">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{{ path('quotation_new')}}" method="post">
        <button type="submit">Nouveau devis</button>
    </form>
    

    {% block javascripts %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var buttons = document.querySelectorAll('.download-pdf-btn');
                buttons.forEach(function(button) {
                    var status = button.getAttribute('data-status');
                    if (status === 'Brouillon') {
                        button.addEventListener('click', function(event) {
                            event.preventDefault();
                            alert('Impossible de télécharger le PDF pour un devis en état Brouillon.');
                        });
                    }
                });
            });
        </script>
    {% endblock %}

{% endblock %}
