{% extends 'base.html.twig' %}

{% block title %}Détails du devis | {{ quotation.ref }}{% endblock %}

{% block body %}
    <h1>Détails du devis : {{ quotation.terms }}</h1>

    <a href="{{ path('quotation_index') }}" class="btn btn-primary">Retour à la liste</a>

    <ul>
        <li>Identifiant: {{ quotation.id }}</li>
        <li>Numéro de devis: {{ quotation.ref }}</li>
        <li>Titre du devis: {{ quotation.terms is defined ? quotation.terms : '' }}</li>
        <li>Facture liée: {{ quotation.invoice_id is defined ? quotation.invoice_id : '' }}</li>
        <li>Agence: {{ quotation.agency.name }}</li>
        <li>Client: {{ quotation.client.lastname }}</li>
        <li>Status: {{ quotation.status }}</li>
        <li>Date de début: {{ quotation.startDate|date('Y-m-d H:i:s') }}</li>
        <li>Date de fin: {{ quotation.endDate|date('Y-m-d H:i:s') }}</li>
        <li>Durée: {{ quotation.duration }}</li>
    </ul>
    <br>
    {% for line in lines %}
        <h2>Ligne n°{{line.place}}</h2>
        <ul>
            <li>Produit {{ line.product.label }} {{ product.category }}</li>
            <li>Informations: {{ line.additional }}</li>
            <li>Prix : {{ line.UnitPrice }}</li>
            <li>Quantité: {{ line.quantity }}</li>
            <li>Taxe: {{ product.tax }}</li>
        </ul>
        <br>
        {% if quotation.status != 'Terminé'%}
        <a href="{{ path('line_edit', {'quotation_id': quotation.id, 'line_id': line.id}) }}">Editer la ligne</a>

        <form action="{{ path('line_delete', {'quotation_id': quotation.id, 'line_id': line.id}) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ line.id) }}">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette ligne ?')">Supprimer la ligne</button>
        </form>
        <br>
        {% endif %}
    {% endfor %}

    {% if quotation.status == 'Brouillon' or quotation.status == 'En Cours' %}
        <a href="{{ path('line_create', {'quotation_id': quotation.id}) }}" class="btn btn-primary">Ajouter une ligne</a>
        <br><br>
        <a href="{{ path('quotation_edit', {'id': quotation.id}) }}" class="btn btn-primary">Éditer le devis</a>

        <form action="{{ path('quotation_delete', {'id': quotation.id}) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quotation.id) }}">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce devis ?')">Supprimer le devis</button>
        </form>
    {% endif %}

    {% if quotation.status != 'Terminé' %}
        <a href="{{ path('app_pdf', {'id': quotation.id, "facture":0}) }}" class="btn btn-primary download-pdf-btn" data-status="{{ quotation.status }}">Télécharger le devis</a>
    {% endif %}

    {% if quotation.status == 'En Cours' %}
        <br><br>
        <form action="{{ path('quotation_validate', {'id': quotation.id}) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ quotation.id) }}">
            <button type="submit" class="btn btn-info">Valider le devis</button>
        </form>
    {% endif %}
    {% if quotation.status == 'Validé' %}
        <br>
        <a href="{{ path('app_pdf', {'id': quotation.id, "facture":1}) }}" class="btn btn-primary download-pdf-btn" data-status="{{ quotation.status }}">Télécharger la Facture (TRANSFORMER)</a>
        <br><br>
        <form action="{{ path('quotation_inProgress', {'id': quotation.id}) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ quotation.id) }}">
            <button type="submit" class="btn btn-info">Passer le devis En Cours</button>
        </form>
    {% endif %}
    <br>
{% endblock %}
