<div class="w-full">
    <div class="lg:ml-40 grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 p-2 ml-2 ">            
    <!-- Section 1 - Chffre 1 -->
        <div class="bg-white p-4 rounded-2xl">
            <h2 class="text-gray-500 text-lg font-semibold pb-1">Chiffres du mois</h2>
            <div class="bg-primary h-px  mb-6"></div> <!-- Ligne -->
            <div class="chart-container" style="position: ; height:150px; width:100%">
                <!-- Graphique -->
                <h2 class="text-7xl font-bold text-center">20000€</h2>
            </div>
        </div>
        <!-- Section 1 - Chiffre 1  -->
        <div class="bg-white p-4 rounded-2xl">
            <h2 class="text-gray-500 text-lg font-semibold pb-1">Totales des ventes</h2>
            <div class="bg-primary h-px  mb-6"></div> <!-- Ligne -->
            <div class="chart-container" style="position: ; height:150px; width:100%">
                <h2 class="text-7xl font-bold text-center">{{ totalInvoices }}</h2>
            </div>
        </div>
    </div>
    <div class="lg:ml-40 grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 p-2 ml-2">
        <div class="col-span-12 mt-5">
            <div class="grid gap-2 grid-cols-1 lg:grid-cols-1">
                <div class="bg-white p-4 shadow-lg rounded-lg">
                    <div class="flex justify-between">
                        <h1 class="font-bold text-gray-500">Derniers devis</h1>
                        <a href="{{ path('app_client_index')}}" class="flex items-center bg-primary text-white font-semibold py-2 px-4 rounded">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            Voir plus
                        </a>
                    </div>
                    <div class="mt-4">
                        <div class="flex flex-col">
                            <div class="-my-2 overflow-x-auto">
                                <div class="py-2 align-middle inline-block min-w-full">
                                    <div
                                        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white">
                                        <table class="min-w-full divide-y divide-gray-200">
                                            <thead>
                                                <tr>
                                                    <th
                                                        class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                        <div class="flex cursor-pointer">
                                                            <span class="mr-2">REF</span>
                                                        </div>
                                                    </th>
                                                    <th
                                                        class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                        <div class="flex cursor-pointer">
                                                            <span class="mr-2">CLIENT</span>
                                                        </div>
                                                    </th>
                                            
                                                    <th
                                                        class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                        <div class="flex cursor-pointer">
                                                            <span class="mr-2">STATUS</span>
                                                        </div>
                                                    </th>
                                                    <th
                                                        class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                        <div class="flex cursor-pointer">
                                                            <span class="mr-2">ACTION</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white divide-y divide-gray-200">
                                            {% if quotations is not empty %}
                                                {% for quotation in quotations %}
                                                <tr>
                                                    <td
                                                        class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                        <p>{{ quotation.ref }}</p>
                                                    </td>
                                                    <td
                                                        class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                        <p>{{ quotation.firstname }} {{ quotation.lastname }}</p>
                                                    </td>
                                                    
                                                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                        <div class="flex {% if quotation.status == 'En attente' %}text-gray-500{% elseif quotation.status == 'Accepté' %}text-green-500{% endif %}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                            </svg>
                                                            <p>{{ quotation.status }}</p>
                                                        </div>
                                                    </td>
                                                    <td
                                                        class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                        <div class="flex space-x-4">
                                                            <a href="#" class="text-primary hover:text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                class="w-5 h-5 mr-1"
                                                                fill="none" viewBox="0 0 24 24"
                                                                stroke="currentColor">
                                                                <path stroke-linecap="round"
                                                                    stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                                            </svg>
                                                            <p>Edit</p>
                                                            </a>
                                                            <a href="" class="text-third ">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                                                </svg>
                                                            <p>Voir</p>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                                    <p>Aucun devis.</p>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:ml-40 grid grid-cols-1 md:grid-cols-2 gap-4 p-2 ml-2">
        <div class="col-span-12 mt-5">
            <div class="grid gap-2 grid-cols-1 lg:grid-cols-1">
                <div class="bg-white p-4 shadow-lg rounded-lg">
                    <div class="flex justify-between">
                        <h1 class="font-bold text-gray-500">Derniers Factures</h1>
                        <a href="{{ path('app_client_index')}}" class="flex items-center bg-primary text-white font-semibold py-2 px-4 rounded">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            Voir plus
                        </a>
                    </div>
                    <div class="mt-4">
                        <div class="flex flex-col">
                            <div class="-my-2 overflow-x-auto">
                                <div class="py-2 align-middle inline-block min-w-full">
                                    <div
                                        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white">
                                        <table class="min-w-full divide-y divide-gray-200">
                                            <thead>
                                                <tr>
                                                    <th
                                                        class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                        <div class="flex cursor-pointer">
                                                            <span class="mr-2">REF</span>
                                                        </div>
                                                    </th>
                                                    <th
                                                        class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                        <div class="flex cursor-pointer">
                                                            <span class="mr-2">CLIENT</span>
                                                        </div>
                                                    </th>
                                            
                                                    <th
                                                        class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                        <div class="flex cursor-pointer">
                                                            <span class="mr-2">REMARQUE</span>
                                                        </div>
                                                    </th>
                                                    <th
                                                        class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                                        <div class="flex cursor-pointer">
                                                            <span class="mr-2">ACTION</span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white divide-y divide-gray-200">
                                            {% if latestInvoices is not empty %}
                                                {% for invoice in latestInvoices %}
                                                <tr>
                                                    <td
                                                        class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                        <p>{{ invoice.id }}</p>
                                                    </td>
                                                    <td
                                                        class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                        <p>{{ invoice.payment_firstname }} {{ invoice.payment_lastname }}</p>
                                                    </td>
                                                    
                                                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                        <div class="flex">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                            </svg>
                                                            <p>{{ invoice.terms }}</p>
                                                        </div>
                                                    </td>
                                                    <td
                                                        class="px-6 py-4 whitespace-no-wrap text-sm leading-5">
                                                        <div class="flex space-x-4">
                                                            <a href="#" class="text-primary hover:text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                class="w-5 h-5 mr-1"
                                                                fill="none" viewBox="0 0 24 24"
                                                                stroke="currentColor">
                                                                <path stroke-linecap="round"
                                                                    stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                                            </svg>
                                                            <p>Edit</p>
                                                            </a>
                                                            <a href="" class="text-third ">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                                                </svg>
                                                            <p>Voir</p>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                                    <p>Aucune facture.</p>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
