{% extends 'base.html.twig' %}

{% block title %}Travelers{% endblock %}

{% block body %}
    <h1>Travelers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ traveler.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ traveler.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ traveler.firstname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ traveler.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_travelers_index', {'invoice': invoice_id}) }}">back to list</a>

    <a href="{{ path('app_travelers_edit', {'id': traveler.id}) }}">edit</a>

    {{ include('travelers/_delete_form.html.twig') }}
{% endblock %}
