<html>
<head>

</head>

<style>
    @page {
        margin: 0;
        font-family: 'Helvetica', serif;
        font-size: 9pt;
    }

    #watermark {
        position: absolute;
        top: 50%;
        left: -1em;
        transform: rotate(-45deg);
        white-space: nowrap;
        font-size: 36pt;
        font-weight: bold;
        color: #ffc0cb;
        border: thin solid #ffc0cb;
        opacity: 0.5;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20mm;
    }

    footer div {
        margin: 0 10mm;
        padding-top: 2mm;
        text-align: center;
        border-top: thin solid grey;
    }

    body {
        margin: 40mm 10mm 20mm 10mm;
    }

    .quoteNumber > * {
        margin: 5px 0;
    }

    .quoteNumber h1 {
        color: #004283;
    }

    .quoteNumber h2 {
        color: #3886CE;
    }

    .productsTable {
        text-align: left;
    }
</style>

<body>
{% if dev %}
    <div id="watermark">ENVIRONNEMENT DE DEVELOPPEMENT</div>
{% endif %}
<header>
    <div>
        <p>aaaaa</p>
    </div>
</header>

<footer>
    {% include 'pdf/footer.html.twig' %}
</footer>

<main>
    <div class="quoteNumber">
        <h1>DEVIS</h1>
        <h2>No. #{{ quote.ref }}</h2>
    </div>

    <div class="mainTable">
        <table class="productsTable">
            <thead>
            <tr>
                <th></th>
                <th>Description</th>
                <th>Quantité</th>
                <th>Prix unitaire</th>
                <th>Total HT</th>
                <th>Taxe (%)</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for line in lines %}
                <tr>
                    <td>#{{ line.place }}</td>
                    <td>
                        {{ line.product.label }} - {{ line.product.type }}<br>
                        {{ line.additional }}
                    </td>
                    <td>{{ line.quantity }}</td>
                    <td>{{ line.unit_price }}</td>
                    <td>{{ line.totalHt }}</td>
                    <td>{{ line.tax }}</td>
                    <td>{{ line.totalTax }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
